* {
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Heebo", sans-serif;
}

splash {
    display: grid;
    grid-auto-columns:"main";
    height: 100vh;
    margin-left: 1em;
    justify-content: left;
}

.main {
    grid-area: main;
}
h1 {
    font-size: 20vw;
}

quotes > div {
    margin-left: 1em;
    height: 100vh;
    width: 55ch;
    text-align: justify;
    font-size: 2vw;
}

h2 {
    color: #f71568;
    text-transform: lowercase;
    font-size: 5vw;
    margin-bottom: 10em; 
}

p { 
    margin-bottom: 1em; 
}

.author {
    text-transform: uppercase;
    color: #f71568;
}

footer {
    font-size: 2vw;
    margin-left: 1em;
    text-align: left;
}