* {
    margin: 0;
    background-color: black;
    color: white;
}

splash {
    font-family: "Space Mono", sans-serif;
    display: grid;
    height: 100vh;
    margin-left: 1rem;
    padding-top: 20%;
}

h1 {
    font-size: 16rem;
}

quotes > div {
    font-family: "Heebo", sans-serif;
    margin: auto;
    height: 100vh;
    width: 55ch;
    text-align: justify;
    font-size: 2rem;
}

h2 {
    color: #f71568;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 10rem; 
}

p { 

    margin-bottom: 1em; 
}

.author {
    text-transform: uppercase;
    color: #f71568;
}

footer {
    font-family: "Space Mono", sans-serif !important;
    margin-left: 1rem;
    text-align: left;
}